body {
    background-color:#045FB4;
    color : white;
    align-items: center;
    text-align: center;
    width: 500px;
}

#nowTimes {
    color : white;
}

.appButton {
    color : black;
    margin : 30px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    border : none;
    cursor:pointer;
}

.alarmButton{
    display: inline-grid;
}

#hourResult{
    display: contents;
    color:black;
}

#minResult{
    display: contents;
    color:black;
}

#timeResult{
    display: contents;
    color:black;
}

.plus-minusButton{
    background-color: white;
    cursor:pointer;
}

#timeSettingWrap{
    margin-top:20px;
    background-color: white;
}
.time{
    color:black;
    display: contents;
}

.memo-text{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor:pointer;
}
.memo-box{
    display: inline-block;
}
